{% extends 'base.html.twig' %}

{% block title %}Hello HoraireController!{% endblock %}

{% block body %}
        <div class="container">
        {# Condition si la valeur de l'id est de 1 on execute la condition sinon on cherche la suivant #}
            {% if restoId == 1 %}

            
                <h2>Horaire du Restaurant {{ restoName.name }}</h2>
                <p>Liste des horaires d'ouverture de notre restaurant</p> <a href="{{ path('home') }}"><button class="btn btn-warning">Retour à l'accueil</button></a>           
                <table class="table table-dark">
                    <thead>
                    <tr>
                        <th></th>
                        <th>AM</th>
                        <th>PM</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th>Lundi</td>
                        <td>11:00 - 15:00</td>
                        <td>19:30 - 23:00</td>
                    </tr>

                    <tr>
                        <th>Mardi</td>
                        <td>Fermé</td>
                        <td>18:00 - 23:00</td>
                    </tr>

                    <tr>
                        <th>Mercredi</td>
                        <td>11:00 - 15h00</td>
                        <td></td>
                    </tr>

                    <tr>
                        <th>Jeudi</td>
                        <td>11:00 - 15h00</td>
                        <td>19:30 - 23:00</td>
                    </tr>

                    <tr>
                        <th>Vendredi</td>
                        <td>11:00 - 15h00</td>
                        <td>19:30 - 23:00</td>
                    </tr>

                    <tr>
                        <th>Samedi</td>
                        <td>11:00 - 15h00</td>
                        <td>19:30 - 23:00</td>
                    </tr>

                    <tr>
                        <th>Dimanche</td>
                        <td>Fermé</td>
                        <td>Fermé</td>
                    </tr>
                    
                    </tbody>
                </table>

            {% elseif restoId == 2 %}
                <h2>Horaire du Restaurant {{ restoName.name }}</h2>
                <p>Liste des horaires d'ouverture de notre restaurant</p> <a href="{{ path('home') }}"><button class="btn btn-warning">Retour à l'accueil</button></a>           
                <table class="table table-dark">
                    <thead>
                    <tr>
                        <th></th>
                        <th>AM</th>
                        <th>PM</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th>Lundi</td>
                        <td>12:00 - 16:00</td>
                        <td>20:00 - 00:00</td>
                    </tr>

                    <tr>
                        <th>Mardi</td>
                        <td>12:00 - 16:00</td>
                        <td>20:00 - 00:00</td>
                    </tr>

                    <tr>
                        <th>Mercredi</td>
                        <td>12:00 - 16:00</td>
                        <td>20:00 - 00:00</td>
                    </tr>

                    <tr>
                        <th>Jeudi</td>
                        <td>12:00 - 16:00</td>
                        <td>20:00 - 00:00</td>
                    </tr>

                    <tr>
                        <th>Vendredi</td>
                        <td>12:00 - 16:00</td>
                        <td>20:00 - 00:00</td>
                    </tr>

                    <tr>
                        <th>Samedi</td>
                        <td>Fermé</td>
                        <td>20:00 - 00:00</td>
                    </tr>

                    <tr>
                        <th>Dimanche</td>
                        <td>Fermé</td>
                        <td>Fermé</td>
                    </tr>
                    
                    </tbody>
                </table>
        
            {% endif %}
        </div>

{% endblock %}