{% extends 'base.html.twig' %}

{% block title %}Hello HoraireController!{% endblock %}

{% block body %}
{# Cette boucle for nous contruit les bouton en conséquence des resultat trouver en base de donnée #}
    {% for resto in restaurant %}
        {# Intégration des boutons pour accéder au horaires du magasin #}
        <a href="{{ path('horaire', {'id': resto.id}) }}"><button class="btn btn-primary">{{resto.name}}</button></a>

    {% endfor %}
{% endblock %}
